@charset "UTF-8";
:root {
  --primary-bg-color: #ffffff;
  /*Первичный цвет фона*/
  --secondary-bg-color: #2f303a;
  /*Вторичный цвет фона*/
  --primary-color: #212121;
  /*Первичный цвет*/
  --secondary-color: #757575;
  /*Вторичный цвет*/
  --accent-color: #2196f3;
  /*Цвет ховера и фокуса*/
  --button-color: #2196f3;
  /*Цвет кнопки*/
  --main-color: #ffffff;
  --border-color: #eeeeee;
  --transparent-color: rgba(255, 255, 255, 0.6);
  --hero-btn-hover-color: #188ce8;
  --icons-color: #afb1b8;
  --icons-transparent-color: rgba(255, 255, 255, 0.1);
  --input-border-color: rgba(255, 255, 255, 0.3);
  --modal-input-border-color: rgba(33, 33, 33, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  margin: 0;
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.accent {
  color: var(--accent-color);
}

.wrapper {
  display: flex;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.hero__button {
  background-color: var(--button-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  text-decoration: none;
  height: 50px;
  width: 200px;
  border: 0px;
  color: white;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
}

.hero__button:hover, .hero__button:focus {
  background-color: var(--hero-btn-hover-color);
  cursor: pointer;
}

.button {
  padding: 6px 22px;
  font-family: inherit;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
}

.button--current, .button:hover, .button:focus {
  background-color: var(--accent-color);
  color: var(--main-color);
  letter-spacing: 0.03em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer__btn {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.title__section {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin-bottom: 50px;
}

.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 520px;
  height: 610px;
  background-color: white;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  text-align: left;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-bg-color);
  padding: 0;
  cursor: pointer;
}

.modal__close-btn:hover,
.modal__close-btn:focus {
  fill: var(--accent-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  font-size: 20px;
  line-height: 1.15;
}

.modal__label {
  display: block;
  margin-bottom: 10px;
}

.modal__label.modal__comment {
  margin-bottom: 20px;
}

.modal__label.checkbox__label {
  position: relative;
  display: flex;
  align-items: center;
}

.modal__text {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}

.modal__input-wrap {
  position: relative;
  display: block;
}

.modal__input {
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  outline: none;
  border: 1px solid var(--modal-input-border-color);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover,
.modal__input:focus,
.modal__textarea:focus,
.modal__textarea:hover {
  border: 1px solid var(--accent-color);
}

.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid var(--modal-input-border-color);
  border-radius: 4px;
  outline: none;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__old-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  top: 20px;
  left: 20px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__checkbox {
  display: block;
  width: 16px;
  height: 15px;
  margin-left: 12px;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 3px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__old-checkbox:focus + .modal__checkbox,
.modal__old-checkbox:hover + .modal__checkbox {
  border: 2px solid var(--accent-color);
}

.modal__old-checkbox:checked + .modal__checkbox {
  background-color: var(--accent-color);
  background-image: url(../images/svg/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-origin: border-box;
  border: 2px solid var(--accent-color);
}

.modal__old-checkbox:checked:focus + .modal__checkbox {
  outline: 1px solid var(--secondary-bg-color);
}

.modal__agree-text {
  margin-left: 9px;
  color: var(--secondary-color);
}

.modal__link {
  color: var(--accent-color);
}

.modal__btn {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover, .modal__btn:focus {
  background-color: var(--hero-btn-hover-color);
  color: var(--main-color);
  letter-spacing: 0.06em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header {
  border-bottom: 1px solid var(--border-color);
}

.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 26px;
  color: var(--primary-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

/* NAVIGATION */
.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-color);
  transition: color var(--animation);
}

.nav-list__link--current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: translateY(1px);
}

.nav-list__link--current,
.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--accent-color);
}

/* CONTACTS */
.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 40px;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-color);
  transition: color var(--animation);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.hero {
  height: 600px;
  max-width: 1600px;
  padding: 200px 0;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-img.jpg);
  background-color: var(--secondary-bg-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  color: var(--primary-bg-color);
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.section .benefits {
  padding-bottom: 0;
}

.bnf__list {
  display: flex;
}

.bnf__item {
  width: calc(100%-90px)/4;
}

.bnf__item:not(:last-child) {
  margin-right: 30px;
}

.bnf__subtitle {
  text-align: left;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.bnf__description {
  text-align: left;
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 1.71;
  font-family: roboto;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.bnf__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.bnf__wrap-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.section__we-do {
  padding-bottom: 94px;
}

.we-do {
  display: block;
  width: 100%;
  height: auto;
}

.we-do__img-wrap {
  position: relative;
}

.we-do__img-title {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.our-team {
  background-color: #f5f4fa;
}

.our-team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.our-team__text {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.our-team__item {
  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team__item:not(:last-child) {
  margin-right: 30px;
}

.our-team__img {
  display: block;
  width: 100%;
  height: auto;
}

.our-team__social-list {
  display: flex;
  margin: 0px 32px 0px 32px;
}

.our-team__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team__social-link:hover, .our-team__social-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.our-team__icon {
  fill: var(--icons-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team__social-link:hover .our-team__icon,
.our-team__social-link:focus .our-team__icon {
  fill: var(--main-color);
}

.our-team__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.our-team__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
}

.clients__list {
  display: flex;
  list-style: none;
}

.clients__icon {
  fill: currentColor;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: var(--icons-color);
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/*==========Footer=============*/
.footer {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
}

.footer__link {
  color: var(--transparent-color);
  font-style: normal;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus, .footer__link--address:hover, .footer__link--address:focus {
  color: var(--accent-color);
}

.footer__link--address {
  color: var(--main-color);
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--main-color);
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__wrapper {
  display: flex;
  align-items: baseline;
}

.footer__subtitle {
  margin-bottom: 20px;
  font-family: Roboto;
  font-weight: 700;
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 00.03em;
  text-transform: uppercase;
}

.footer-social__box {
  margin-left: 70px;
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--icons-transparent-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__icon {
  fill: var(--main-color);
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--accent-color);
  cursor: pointer;
  color: var(--accent-color);
}

.address {
  color: var(--main-color);
}

/* Footer Modal  */
.footer__subscribe {
  width: 49%;
  margin-left: auto;
}

.footer__form-wrap {
  display: flex;
  margin-left: auto;
}

.footer__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--main-color);
  outline: none;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  background-color: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_send-icon {
  margin-left: 10px;
}

.footer__input:hover,
.footer__input:focus {
  border: 1px solid var(--accent-color);
}

.footer__input::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--transparent-color);
}

.title__portfolio {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 4px;
}

.portfolio__buttons-list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0px;
}

.portfolio__button:not(:last-child) {
  margin-right: 8px;
}

.portfolio__description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 0;
  margin-bottom: 0;
}

.portfolio__link {
  display: block;
  text-decoration: none;
}

.portfolio__link:hover, .portfolio__link:focus {
  text-decoration: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__examples-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.portfolio__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio__wrap {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio__img {
  display: block;
  width: 100%;
  height: auto;
}

.example__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-color);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: none;
}

.example__img-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio__link:hover .example__overlay,
.portfolio__link:focus .example__overlay {
  transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */