:root {
  --primary-bg-color: #ffffff;
  /*Первичный цвет фона*/
  --secondary-bg-color: #2f303a;
  /*Вторичный цвет фона*/
  --primary-color: #212121;
  /*Первичный цвет*/
  --secondary-color: #757575;
  /*Вторичный цвет*/
  --accent-color: #2196f3;
  /*Цвет ховера и фокуса*/
  --button-color: #2196f3;
  /*Цвет кнопки*/
  --main-color: #ffffff;
  --transparent-color: rgba(255, 255, 255, 0.6);
  --hero-btn-hover-color: #188ce8;
  --icons-color: #afb1b8;
  --icons-transparent-color: rgba(255, 255, 255, 0.1);
}

/* СБРОС ЗНАЧЕНИЙ */

.list {
  list-style: none;
}
.footer-list {
  list-style: none;
}
.link {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.wrapper {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

/* ===================================== */

body {
  margin: 0;
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.link {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/*=========== HEADER================= */

.header-wrapper {
  display: flex;
}
.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.logo {
  margin-right: 93px;
}

.accent {
  font-family: Raleway;
  font-size: 700;
  font-weight: bold;
}

.nav-list-item.current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
  transform: translateY(1px);
}

.navigation-list {
  display: flex;
}

.navigation-list:not(:last-child) {
  margin-right: 50px;
}
.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-list:not(:last-child) {
  margin-right: 40px;
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  border-bottom: 1px solid #ececec;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list {
  display: flex;
}

/*==============HERO============*/
.hero {
  height: 600px;
  max-width: 1600px;
  padding: 200px 0;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-img.jpg);
  background-color: var(--secondary-bg-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: var(--primary-bg-color);
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero-button {
  background-color: var(--button-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  text-decoration: none;
  height: 50px;
  width: 200px;
  border: 0px;
  color: white;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-btn-hover-color);
  cursor: pointer;
}

/*============SECTION===========*/
.we-do {
  display: block;
  width: 100%;
  height: auto;
}
.section-we-do {
  padding-bottom: 94px;
}

.we-do-img-wrap {
  position: relative;
}

.we-do-img-title {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.section-title {
  padding-top: 94px;
  padding-bottom: 94px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/*==========BENEFITS============*/

.benefits-subtitle {
  text-align: left;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.bnf-description {
  text-align: left;
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 1.71;
}
.section .benefits {
  padding-bottom: 0;
}
.benefits-list {
  display: flex;
  /* padding-left: 0;
  margin-top: 0;
  margin-bottom: 0; */
}

.benefits-item {
  width: calc(100%-90px) / 4;
}

.benefits-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-subtitle {
  margin-top: 0;
  margin-bottom: 10px;

  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;

}

.bnf-description {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--secondary-color);
  font-family: roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.benefits-wrap-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;

  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.nav-list-item {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item.current,
.nav-list-item:hover,
.nav-list-item:focus,
.contacts-link:hover,
.contacts-link:focus,
.footer-link:hover,
.footer-link:focus {
  cursor: pointer;
  color: var(--accent-color);
}

.contacts-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*============LOGO=============*/
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--accent-color);
}
.header-logo {
  color: var(--primary-color);
}
.footer-logo {
  color: var(--main-color);
}
.accent {
  color: var(--accent-color);
}

/*==========OUR TEAM===============*/

.our-team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.our-team-text {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}
.title-section {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-color);
  margin-bottom: 50px;
}

.our-team {
  background-color: #f5f4fa;
}

.our-team-item {
  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team-img {
  display: block;
  width: 100%;
  height: auto;
}

.our-team-social-list {
  display: flex;
  margin: 0px 32px 0px 32px;
}

.our-team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-social-link:hover,
.our-team-social-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.our-team-icon {
  fill: var(--icons-color);
  
}

.our-team-social-link:hover .our-team-icon,
.our-team-social-link:focus .our-team-icon {
  fill: var(--main-color);

}

.our-team-item:not(:last-child) {
  margin-right: 30px;
}

.our-team-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.our-team-subtitle {
  margin-top: 0;
  margin-bottom: 10px;
}

/*======SECTION CLIENTS===============*/
.clients-list {
  display: flex;
}

.clients-item {
  width: calc((100% - 5 * 30px) / 6);
 }

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  color: var(--icons-color);

  border: 1px solid var(--icons-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  color: var(--accent-color);

  border: 1px solid var(--accent-color);
}

.client-icon {
  fill: currentColor;
}

/*==========Footer=============*/

.footer {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-link {
  color: var(--transparent-color);
  font-style: normal;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
}

.footer-subtitle {
  margin-bottom: 20px;

  color: var(--main-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-social-box {
  margin-left: 70px;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  background-color: var(--icons-transparent-color);
  border-radius: 50%;

 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-icon {
  fill: var(--main-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-social-icon {
  fill: var(--main-color);
}

.footer-link {
  color: var(--transparent-color);
  font-style: normal;
  text-decoration: none;
}

.address {
  color: var(--main-color);
}

/*===========PORTFOLIO============*/

.button.current,
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--main-color);
  letter-spacing: 0.03em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.title-portfolio {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;

  margin-top: 0;
  margin-bottom: 4px;
}

.portfolio-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;

  margin-top: 0;
  margin-bottom: 0;
}

.portfolio-link {
  display: block;
  text-decoration: none;
}

.portfolio-link:hover,
.portfolio-link:focus {
  text-decoration: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-buttons-list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0px;
}


.portfolio-button:not(:last-child) {
  margin-right: 8px;
}

.portfolio-examples-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-wrap {
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  border-right: 1px solid rgba(238, 238, 238, 1);
  padding: 20px 24px;
}

.portfolio-img {
  display: block;
  width: 100%;
  height: auto;
}

.button {
  padding: 6px 22px;

  font-family: inherit;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;

  background-color:rgba(245, 244, 250, 1);
  border: none;
  border-radius: 4px;
}

.button.current,
.button:hover,
.button:focus {
  color: var(--main-color);
  background-color: var(--accent-color);
}

.example-img-wrap {
  position: relative;
  overflow: hidden;
}
.example-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-color);

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: none;
}

.portfolio-link:hover .example-overlay,
.portfolio-link:focus .example-overlay {
  transform: translateY(0);
}

/* Модальное Окно */
.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-bg-color);
  padding: 0;
  cursor: pointer;
}

.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}