.title__portfolio {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;

  margin-top: 0;
  margin-bottom: 4px;
}

.portfolio__buttons-list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0px;
}

.portfolio__button:not(:last-child) {
  margin-right: 8px;
}

.portfolio__description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;

  margin-top: 0;
  margin-bottom: 0;
}

.portfolio__link {
  display: block;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__examples-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.portfolio__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio__wrap {
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  border-right: 1px solid rgba(238, 238, 238, 1);
  padding: 20px 24px;
}

.portfolio__img {
  display: block;
  width: 100%;
  height: auto;
}

.example {
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;

    background-color: rgba(33, 150, 243, 0.9);

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--main-color);

    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: none;
  }

  &__img-wrap {
    position: relative;
    overflow: hidden;
  }
}

.portfolio__link:hover .example__overlay,
.portfolio__link:focus .example__overlay {
  transform: translateY(0);
}
