:root {
    --primary-bg-color: #ffffff;
    /*Первичный цвет фона*/
    --secondary-bg-color: #2f303a;
    /*Вторичный цвет фона*/
    --primary-color: #212121;
    /*Первичный цвет*/
    --secondary-color: #757575;
    /*Вторичный цвет*/
    --accent-color: #2196f3;
    /*Цвет ховера и фокуса*/
    --button-color: #2196f3;
    /*Цвет кнопки*/
    --main-color: #ffffff;
    --border-color: #eeeeee;
    --transparent-color: rgba(255, 255, 255, 0.6);
    --hero-btn-hover-color: #188ce8;
    --icons-color: #afb1b8;
    --icons-transparent-color: rgba(255, 255, 255, 0.1);
    --input-border-color: rgba(255, 255, 255, 0.3);
    --modal-input-border-color: rgba(33, 33, 33, 0.2);
  }